# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
*.egg-info/
.pytest_cache/
*.db

# Node
node_modules/
.next/
*.tsbuildinfo

# 環境変数
.env
.env.local
.env.*.local

# エディタ
.DS_Store
.vscode/
.idea/

# Docker
*.log